label.label_tool_category{
    font-weight: bold;
}

treeexpander label{
    margin-right: 16px;
}

box#tool_db_button_box {
    margin: 8px;
}

box#tool_db_button_box button, box#tool_db_button_box menubutton {
    margin-right: 8px;
}
box#tool_db_button_box button:last-child {
    margin-right: 0;
}

box#tool_settings_box {
    margin: 8px;
}

box#tool_settings_box frame:not(:first-child){
    margin-top: 8px;
}

box#tool_settings_box frame grid{
	margin: 8px;
}