label#preview_label{
    font-weight: bold;
}

label#love_text{
    font-style: italic;
}

picture#preview_picture{
    background-color: white;
    border-radius: 8px;
}

notebook#notebook{
    border-radius: 8px;
}
